$black-light: #1B1C21;
$gray: #7E7E82;
$gray-light: #B5B6BC;
$gray-lightest: #DDDDDD;
$white-darkest: #F8F8F8;
$white-dark: #F2F2F2;
$white: #FFFFFF;
$pink: #FF3E79;



$bgcolor-body: $white-dark;
$bgcolor-page: $white-darkest;

$text-color: $black-light;
$text-color--light: $gray;
$input-border: #EAEAEA;

$font-size: 14px;
$font-size--large: 16px;
$font-size--largest: 24px;

$font-family: 'TT Lakes Regular';
$font-family--bold: 'TT Lakes Bold';
$font-family--medium: 'TT Lakes Medium';



$indent: 16px;
$indent--medium: 24px;
$indent--large: 32px;


$screen-xs: 320px;
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-xl: 1426px;


@import '../../node_modules/swiper/swiper-bundle.css';

@import 'reset';
@import 'fonts';
@import 'container';

@import 'page';

@import 'btn';
@import 'btn-group';

@import 'page-header';
@import 'content-header';
@import 'nav';
@import 'article';

@import 'slider';

@import 'link';
@import 'choose-language';
@import 'input';
@import 'nav-vertical';
@import 'note';
@import 'page-footer';
@import 'modal';

body {
  background-color: $bgcolor-body;
  font: $font-size $font-family;    
}

.wrapper {
  display: flex;
  margin: 0 auto;
  position: relative;
  max-width: $screen-xl;  
}

.blur {
  filter: blur(10px);    
  height:100vh;
  overflow: hidden;  
}

